<div class="container">
  <div class="card shadow p-4">
    <h2 class="text-center mb-4">Se connecter</h2>
    <form (ngSubmit)="login()" #loginForm="ngForm">
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          id="email"
          name="email"
          [(ngModel)]="email"
          class="form-control"
          required
        />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Mot de passe</label>
        <input
          type="password"
          id="password"
          name="password"
          [(ngModel)]="password"
          class="form-control"
          required
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary w-100"
        [disabled]="loginForm.invalid"
      >
        Connexion
      </button>
    </form>
    <div *ngIf="errorMessage" class="text-danger mt-3">{{ errorMessage }}</div>
  </div>
</div>
