/* Sidebar */
.sidebar {
  background-color: #2980B9; /* Même bleu que la navbar */
  color: white; /* Texte en blanc */
  width: 250px;
  height: 100vh; /* Prendre toute la hauteur */
  position: fixed; /* Fixer la sidebar */
  top: 0;
  left: 0;
  padding-top: 20px;
}

.sidebar .nav-item {
  padding: 15px 20px;
}

.sidebar .nav-item a {
  color: white; /* Couleur des liens en blanc */
  text-decoration: none;
  font-size: 18px;
}

.sidebar .nav-item a:hover {
  background-color: #3498db; /* Bleu foncé au survol */
  border-radius: 5px; /* Arrondir les coins */
}